.bg_nav{
    background-color: #fff;
    width: 90%;
    height: 204px;
    margin: auto;
}

.Navbar{
    display: flex !important;
    flex-direction: column !important;
    text-align: center;
}

.logo-page img{
    width: 55%;
    margin-bottom: 15px;
}

.link_nav{
    position: relative;
    color: #4c494a;
}

.link_nav:hover{
    color: #4c494a;
}

.link_nav::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1.5px;
    background-color: #000;
    transition: all .4s;
}
.link_nav:hover::after{
    width: 100%;
}

.cart_num{
    font-size: 18px;
    font-weight: 700;
    margin-left: 2px;
}